 .u-section-1 {
  background-image: url("images/imageedit_2_9072912594.jpg");
  background-position: 50% 39.25%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: ITCBenguiatCondensedBold;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 259px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 42.2% 24.82%;
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-bottom: 44px;
  }
}@font-face {
  font-family: 'ITCBenguiatCondensedBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ITCBenguiatCondensedBold.otf);
}@font-face {
  font-family: 'ColomboSansFont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ColomboSansFont.otf);
}